// app global css in SCSS form
.bg-megasena {
	background-color: $positive;
}
.bg-duplasena {
	background-color: #f04343;
}
.bg-lotomania {
	background-color: #f97a3f;
}
.bg-quina {
	background-color: #2f4980;
}
.bg-loteriafederal {
	background-color: #759bec;
}
.bg-loteca {
	background-color: #ee6b6b;
}
.bg-lotogol {
	background-color: #22779e;
}
.bg-lotofacil {
	background-color: #c895d4;
}
.bg-timemania {
	background-color: #ecbe27;
}
.bg-diadesorte {
	background-color: #47c163;
}
